# Set Practice

#### Sets are build in data type in python used to store collections of unique items. 
#### Set does not contain duplicate items.
#### Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical operations like union, intersection.

In [2]:
# create a set

my_set = {1,2,3,4,5}
type(my_set)

set

In [3]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [4]:
# removing duplicate

my_set = {1,2,3,4,5,5,6,6}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
# basic set operation
# adding and removing

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [6]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [7]:
my_set.remove(10)

KeyError: 10

In [ ]:
my_set.discard(11)  # Discard method will not give us an error, if the element is not present in set

In [9]:
# pop method

removed_ele = my_set.pop()
print(removed_ele)
print(my_set)

1
{2, 4, 5, 6, 7}

In [11]:
## set membership test

my_set = {1,2,3,4,5}
print(10 in my_set)
print(3 in my_set)

False
True

In [15]:
# mathematical operation

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

# union

union = set1.union(set2)
print(union)

# intersection

intersection = set1.intersection(set2)
print(intersection)

set1.intersection_update(set2)  # update elements in set1 
print(set1)

# difference 

print(set1.difference(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}
set()

In [17]:
## symmetric difference 

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

set1.symmetric_difference(set2)  # removes the common elements from both the sets

{1, 2, 3, 7, 8, 9}

In [18]:
# sets methods

set1 = {1,2,3}
set2 = {4,5,6}

set1.issubset(set2)

False

In [19]:
set1.issuperset(set2)

False

In [21]:
# remove duplicate

list1 = [1,2,3,4,4,5]
set(list1)

{1, 2, 3, 4, 5}

In [22]:
## counting unique words in text

text = 'In this toturial we are discussing about sets'
words = text.split()
print(words)

['In', 'this', 'toturial', 'we', 'are', 'discussing', 'about', 'sets']

In [23]:
# deep copy

set1 = {10,20,30}
set2 = {}

set2=set1
print(set2)
set2.add(40)
print(set1)

{10, 20, 30}
{40, 10, 20, 30}

In [24]:
# shallow copy

set1 = {10,20,30}
set2=set1.copy()
print(set2)
set2.add(50)
print(set1)

{10, 20, 30}
{10, 20, 30}

In [25]:
# frozen set  # we cant add or remove items in frozen set..

set1 = {1,2,3,4,5}
f_set = frozenset(set1)
print(f_set)

frozenset({1, 2, 3, 4, 5})

In [26]:
# disjoint  # gives TRUR when no common items 

set1 = {10,20,30,40,50}
set2 = {10,20}
print(set2.isdisjoint(set1))

False